<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="ISUGF.WindowsServiceFundEstimate"/>
    <add key="ServiceDisplayName" value="Awesome Fund Estimate Service"/>
    <add key="ServiceDescription" value="This is the most amazing Fund Estimate service."/>
  </appSettings>
</configuration>